<div class="background"></div>
<div id="form-wrapper">
  <div id="box">
    <header>
      <h1>nova<span>Librus</span></h1>
      <h3>by micorix</h3>
    </header>
  <form>
    <md-input-container class="full-input-container">
       <input mdInput placeholder="Nazwa użytkownika">
     </md-input-container>
     <md-input-container class="full-input-container">
        <input mdInput type="password" placeholder="Hasło">
      </md-input-container>
      <md-slide-toggle>Zapamiętaj mnie</md-slide-toggle>
       <button md-raised-button>Zaloguj</button>
  </form>
</div>
</div>
